@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(201, 201, 201);
}

body {
    font-family: sans-serif;
    font-weight: 500;
}
.navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 70px;
    padding-left: 6rem;
    padding-right: 6rem;
}
.dvmLogo{
    width: 80px;
    height: 70px;
}
.headPart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.headTitle {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}
.headTitle h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 34px;
    color: rgb(201, 201, 201);  
}
.headTitle h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;  
    color: rgb(0, 205, 205); 
}
.navbarOps {
    display: flex;
    gap: 2rem;
}

.navbarOps a{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    border-radius: 2px;
}
  
.navbarOps a:hover{
    color: white;
    transition: ease-out 300ms;
}

.ops :hover{
    background-color: rgb(20, 20, 20);
}

.icon{
    padding-left: 5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.icon a:hover{
    color: white;
    transition: ease-out 250ms;
}

.menu{ 
    display: none;
}

@media only screen and (max-width: 1100px) {
    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navbarOps {
        display: flex;
        gap: 0.5rem;
    }
    .icon{
        padding-left: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        height: 60px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .dvmLogo{
        width: 60px;
        height: 60px;
    }
    .headTitle h1{
        font-size: 28px; 
    }
    .headTitle h2{
        font-size: 30px;  
    }
    .navbarOps a{
        padding: 15px;
    }

    .navbarOps-active {
        display: flex;
        gap: 2rem;
        z-index: 100;
    }
    
    .navbarOps-active a{
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        padding: 15px;
        border-radius: 2px;
        z-index: 101;
    }
      
    .navbarOps-active a:hover{
        color: white;
        transition: ease-out 300ms;
        z-index: 102;
    }

    .icon {
        position: fixed;
        left: -100%;
        transition: 0.4s;
    }

    .icon-active {
        position: absolute;
        top: 60px;
        background-color: black;
        right: 0;
        z-index: 103;
       
    }

    .icon-active a{
        display: block;
        padding: 1rem;
        z-index: 104;
        overflow: hidden;
    }

    .icon-active a:hover{
        color: white;
        z-index: 105;
    }

    .menu {
        display: flex;
    }

}

@media only screen and (max-width: 680px) {
    
    .navbar {
        height: 60px;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .dvmLogo{
        width: 60px;
        height: 60px;
    }
    .headTitle h1{
        font-size: 28px;
    }
    .headTitle h2{
        font-size: 30px;  
    }
    .navbarOps {
        position: fixed;
        left: -100%;
        transition: 0.4s;
    }
    .navbarOps a{
        padding: 15px;
    }

    .navbarOps-active {
        position: absolute;
        right: 0;
        width: 100%;
        top: 60px;
        display: block;
        background-color: black;
        padding-left: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 120px;
    }
    
    .navbarOps-active a{
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        padding: 0;
        border-radius: 2px;
        color: white;
    }
      
    .navbarOps-active a:hover{
        color: white;
        transition: ease-out 300ms;
    }

    .icon {
        position: fixed;
        left: -100%;
        transition: 0.4s;
    }

    .icon-active {
        position: absolute;
        background-color: black;
        right: 3rem;
       
    }

    .icon-active a{
        display: block;
        color: white;
        padding: 1rem;
    }

    .menu {
        display: flex;
    }
    

}
@media only screen and (max-width: 400px) {
    .navbar {
        height: 60px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .icon-active {
        position: absolute;
        background-color: black;
        right: 1rem;
    }

}

